{% extends "gsb_cal/base.html" %}

{% block content %}
<p>{{ object.event_type}}</p>
<p>Wish List 
  <input type="checkbox" name="checkbox" id="checkbox" />
  <label for="checkbox"></label>
  <br />
  Attending
  <input type="checkbox" name="checkbox2" id="checkbox2" />
  <label for="checkbox2"></label>
</p>
<h1><br />
{{ object.event_name }}</h1>
<h4>{{ object.slogan }}</h4>
<p><strong>Status:</strong></p>
<p><strong>Location:</strong> {{ object.city }} / {{ city.country }}</p>
<p><strong> Dates:</strong> {{ object.start_date|date }} - {{ object.finish_date|date }}</p>
<p><strong>Dance Types: </strong></p>
<ul>
{% for type in object.dance_type.all %}
  
  <li><a href="">{{ type }}</a></li>
    {% endfor %}
</ul>
<p><strong>Website:</strong> {{ object.website|urlize}}</p>
<form id="form1" name="form1" method="post" action="">
  <strong>Actions:</strong>
  <input type="submit" name="button" id="button" value="Register" />
</form>
<hr />
<h3>Event Details</h3>
<p><strong>Teachers: </strong></p>
<ul>
{% for type in object.teachers.all %}
  
  <li><a href="">{{ type }}</a></li>
    {% endfor %}
</ul>
<p><strong>Bands: </strong></p>
<ul>
{% for type in object.bands.all %}
  
  <li><a href="">{{ type }}</a></li>
    {% endfor %}
</ul>
<p><strong>DJs: </strong></p>
<ul>
{% for type in object.djs.all %}
  
  <li><a href="">{{ type }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
<hr /> 
<h3>Updates </h3>
<hr />
<h3>GSB News &amp; Media</h3>
<hr />
<h3>Attendants</h3>
<hr />
<h3>Recommended Events</h3>
<hr />
<p>&nbsp;</p>
